openapi: 3.0.3
info:
  contact:
    email: support@elasticemail.com
  description: "This API is based on the REST API architecture, allowing the user\
    \ to easily manage their data with this resource-based approach.\r\n\r\nEvery\
    \ API call is established on which specific request type (GET, POST, PUT, DELETE)\
    \ will be used.\r\n\r\nThe API has a limit of 20 concurrent connections and a\
    \ hard timeout of 600 seconds per request.\r\n\r\nTo start using this API, you\
    \ will need your Access Token (available <a target=\"_blank\" href=\"https://app.elasticemail.com/marketing/settings/new/manage-api\"\
    >here</a>). Remember to keep it safe. Required access levels are listed in the\
    \ given request’s description.\r\n\r\nDownloadable library clients can be found\
    \ in our Github repository <a target=\"_blank\" href=\"https://github.com/ElasticEmail?tab=repositories&q=%22rest+api%22+in%3Areadme\"\
    >here</a>"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://elasticemail.com/resources/usage-policies/terms-of-use/
  title: Elastic Email REST API
  version: 4.0.0
servers:
- url: https://api.elasticemail.com/v4
security:
- apikey: []
tags:
- description: Sending and monitoring progress of your Campaigns
  name: Campaigns
- description: Methods used to manage your Contacts.
  name: Contacts
- description: Domain Actions
  name: Domains
- description: Send your emails and see their statuses
  name: Emails
- description: Methods to check logs of your campaigns
  name: Events
- description: "Manage the files on your account to be used as attachments in your\
    \ email, templates, etc."
  name: Files
- description: Inbounds operations
  name: InboundRoute
- description: API methods for managing your Lists
  name: Lists
- description: Security methods
  name: Security
- description: "Manages your segments - dynamically created lists of contacts. Help\
    \ for building a segment rule can be found here: https://help.elasticemail.com/en/articles/5162182-segment-rules"
  name: Segments
- description: Methods to check logs of your campaigns
  name: Statistics
- description: Manage your subaccounts
  name: SubAccounts
- description: Methods used to manage your Suppressions.
  name: Suppressions
- description: Managing and editing templates of your emails
  name: Templates
- description: Verify emails and read the results
  name: Verifications
paths:
  /campaigns:
    get:
      description: "Returns a list all of your campaigns. Limited to 1000 results.\
        \ Required Access Level: ViewCampaigns"
      operationId: campaignsGet
      parameters:
      - description: Text fragment used for searching in Campaign name (using the
          'contains' rule)
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Campaign'
                type: array
          description: OK
      summary: Load Campaigns
      tags:
      - Campaigns
    post:
      description: "Add a campaign for processing. Required Access Level: ModifyCampaigns"
      operationId: campaignsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
        description: JSON representation of a campaign
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Created
      summary: Add Campaign
      tags:
      - Campaigns
  /campaigns/{name}:
    delete:
      description: "Delete the specific campaign.  This does not cancel in progress\
        \ email, see Cancel In Progress. Required Access Level: ModifyCampaigns"
      operationId: campaignsByNameDelete
      parameters:
      - description: Name of Campaign to delete
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Campaign
      tags:
      - Campaigns
    get:
      description: "Returns the specified campaign details. Required Access Level:\
        \ ViewCampaigns"
      operationId: campaignsByNameGet
      parameters:
      - description: Name of Campaign to get
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: OK
      summary: Load Campaign
      tags:
      - Campaigns
    put:
      description: "Updates a previously added campaign.  Only Active and Paused campaigns\
        \ can be updated. Required Access Level: ModifyCampaigns"
      operationId: campaignsByNamePut
      parameters:
      - description: Name of Campaign to update
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
        description: JSON representation of a campaign
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: OK
      summary: Update Campaign
      tags:
      - Campaigns
  /campaigns/{name}/pause:
    put:
      description: "Pauses the specific campaign, cancelling emails that are waiting\
        \ to be sent. Required Access Level: ModifyCampaigns"
      operationId: campaignsByNamePausePut
      parameters:
      - description: Name of Campaign to pause
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Pause Campaign
      tags:
      - Campaigns
  /contacts:
    get:
      description: "Returns a list of contacts. Required Access Level: ViewContacts"
      operationId: contactsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
          description: OK
      summary: Load Contacts
      tags:
      - Contacts
    post:
      description: "Add new Contacts to your Lists. Up to 1000 can be added (for more\
        \ please refer to the import request). Required Access Level: ModifyContacts"
      operationId: contactsPost
      parameters:
      - description: Names of lists to which the uploaded contacts should be added
          to
        explode: true
        in: query
        name: listnames
        required: false
        schema:
          description: array
          items:
            format: string
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ContactPayload'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
          description: OK
      summary: Add Contact
      tags:
      - Contacts
  /contacts/{email}:
    delete:
      description: "Deletes the provided contact. Required Access Level: ModifyContacts"
      operationId: contactsByEmailDelete
      parameters:
      - description: Proper email address.
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Contact
      tags:
      - Contacts
    get:
      description: "Load detailed contact information for specified email. Required\
        \ Access Level: ViewContacts"
      operationId: contactsByEmailGet
      parameters:
      - description: Proper email address.
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: OK
      summary: Load Contact
      tags:
      - Contacts
    put:
      description: "Update selected contact. Omitted contact's fields will not be\
        \ changed. Required Access Level: ModifyContacts"
      operationId: contactsByEmailPut
      parameters:
      - description: Proper email address.
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdatePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: OK
      summary: Update Contact
      tags:
      - Contacts
  /contacts/delete:
    post:
      description: "Deletes provided contacts in bulk. Required Access Level: ModifyContacts"
      operationId: contactsDeletePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailsPayload'
        description: "Provide either rule or a list of emails, not both."
        required: true
      responses:
        "200":
          description: OK
      summary: Delete Contacts Bulk
      tags:
      - Contacts
  /contacts/export:
    post:
      description: "Request an Export of specified Contacts. Required Access Level:\
        \ Export"
      operationId: contactsExportPost
      parameters:
      - description: Format of the exported file
        explode: true
        in: query
        name: fileFormat
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFormats'
        style: form
      - description: Query used for filtering.
        explode: true
        in: query
        name: rule
        required: false
        schema:
          description: string
          example: Status%20=%20Engaged
          format: string
          type: string
        style: form
      - description: Comma delimited list of contact emails
        explode: true
        in: query
        name: emails
        required: false
        schema:
          description: array
          example:
          - "mail@contact.com,mail1@contact.com,mail2@contact.com"
          items:
            format: string
            type: string
          type: array
        style: form
      - description: FileResponse compression format. None or Zip.
        explode: true
        in: query
        name: compressionFormat
        required: false
        schema:
          $ref: '#/components/schemas/CompressionFormat'
        style: form
      - description: Name of your file including extension.
        explode: true
        in: query
        name: fileName
        required: false
        schema:
          description: string
          example: filename.txt
          format: string
          type: string
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportLink'
          description: Accepted
      summary: Export Contacts
      tags:
      - Contacts
  /contacts/export/{id}/status:
    get:
      description: "Check the current status of the export. Required Access Level:\
        \ Export"
      operationId: contactsExportByIdStatusGet
      parameters:
      - description: ID of the exported file
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          example: E33EBA7A-C20D-4D3D-8F2F-5EEF42F58E6F
          format: guid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportStatus'
          description: OK
      summary: Check Export Status
      tags:
      - Contacts
  /contacts/import:
    post:
      description: "Upload contacts from a file. Required Access Level: ModifyContacts"
      operationId: contactsImportPost
      parameters:
      - description: Name of an existing list to add these contacts to
        explode: true
        in: query
        name: listName
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      - description: In what encoding the file is uploaded
        explode: true
        in: query
        name: encodingName
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      - description: Optional url of csv to import
        explode: true
        in: query
        name: fileUrl
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/contactsImportPost_request'
        description: "File in CSV format with columns to upload as Contact fields.\
          \ Required columns: Email. Suggested columns: AllowUnsubscribe, Status,\
          \ ConsentDate, ConsentIP, ConsentTracking."
        required: true
      responses:
        "202":
          description: Accepted
      summary: Upload Contacts
      tags:
      - Contacts
  /domains:
    get:
      description: "Returns a list of all domains configured for this Account. Required\
        \ Access Level: ViewSettings"
      operationId: domainsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DomainDetail'
                type: array
          description: OK
      summary: Load Domains
      tags:
      - Domains
    post:
      description: "Add new domain to Account. Required Access Level: ModifySettings"
      operationId: domainsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPayload'
        description: Domain to add
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
          description: Created
      summary: Add Domain
      tags:
      - Domains
  /domains/{domain}:
    delete:
      description: "Deletes configured domain from Account. Required Access Level:\
        \ ModifySettings"
      operationId: domainsByDomainDelete
      parameters:
      - description: Name of the given domain
        explode: false
        in: path
        name: domain
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Domain
      tags:
      - Domains
    get:
      description: "Retrieve a domain configured for this Account. Required Access\
        \ Level: ViewSettings"
      operationId: domainsByDomainGet
      parameters:
      - description: Name of the given domain
        explode: false
        in: path
        name: domain
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainData'
          description: OK
      summary: Load Domain
      tags:
      - Domains
    put:
      description: "Updates the specified domain. Required Access Level: ModifySettings"
      operationId: domainsByDomainPut
      parameters:
      - description: Name of the given domain
        explode: false
        in: path
        name: domain
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdatePayload'
        description: Updated Domain resource
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
          description: OK
      summary: Update Domain
      tags:
      - Domains
  /domains/{domain}/restricted:
    get:
      description: "Checking if domain is from free provider, or restricted. Required\
        \ Access Level: ViewSettings"
      operationId: domainsByDomainRestrictedGet
      parameters:
      - description: Name of the given domain
        explode: false
        in: path
        name: domain
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: boolean
                type: boolean
          description: OK
      summary: Check for domain restriction
      tags:
      - Domains
  /domains/{domain}/verification:
    put:
      description: "Verifies that required DNS records exist for specified domain.\
        \ Required Access Level: ModifySettings"
      operationId: domainsByDomainVerificationPut
      parameters:
      - description: Name of the given domain
        explode: false
        in: path
        name: domain
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              enum:
              - None
              - Delete
              - Http
              - ExternalHttps
              - InternalCertHttps
              - LetsEncryptCert
              type: string
        description: Tracking type used in the Tracking verification
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainData'
          description: OK
      summary: Verify Domain
      tags:
      - Domains
  /domains/{email}/default:
    patch:
      description: "Sets a verified email address as default sender. Required Access\
        \ Level: ModifySettings"
      operationId: domainsByEmailDefaultPatch
      parameters:
      - description: "Default email sender, example: mail@yourdomain.com"
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
          description: OK
      summary: Set Default
      tags:
      - Domains
  /emails:
    post:
      description: "Send bulk merge email. Required Access Level: SendHttp"
      operationId: emailsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailMessageData'
        description: Email data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSend'
          description: OK
      summary: Send Bulk Emails
      tags:
      - Emails
  /emails/{msgid}/view:
    get:
      description: "Returns email details for viewing or rendering. Required Access\
        \ Level: None"
      operationId: emailsByMsgidViewGet
      parameters:
      - description: Message identifier
        explode: false
        in: path
        name: msgid
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailData'
          description: OK
      summary: View Email
      tags:
      - Emails
  /emails/{transactionid}/status:
    get:
      description: "Get status details of an email transaction. Required Access Level:\
        \ ViewReports"
      operationId: emailsByTransactionidStatusGet
      parameters:
      - description: Transaction identifier
        explode: false
        in: path
        name: transactionid
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      - description: Include Bounced email addresses.
        explode: true
        in: query
        name: showFailed
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include Sent email addresses.
        explode: true
        in: query
        name: showSent
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include all delivered email addresses.
        explode: true
        in: query
        name: showDelivered
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include Ready to send email addresses.
        explode: true
        in: query
        name: showPending
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include Opened email addresses.
        explode: true
        in: query
        name: showOpened
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include Clicked email addresses.
        explode: true
        in: query
        name: showClicked
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include Reported as abuse email addresses.
        explode: true
        in: query
        name: showAbuse
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include Unsubscribed email addresses.
        explode: true
        in: query
        name: showUnsubscribed
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include error messages for bounced emails.
        explode: true
        in: query
        name: showErrors
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      - description: Include all MessageIDs for this transaction
        explode: true
        in: query
        name: showMessageIDs
        required: false
        schema:
          default: false
          description: boolean
          format: boolean
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailJobStatus'
          description: OK
      summary: Get Status
      tags:
      - Emails
  /emails/mergefile:
    post:
      description: "Send to a list of contacts submitted in a CSV data file. The first\
        \ column in the CSV must be the email address and the CSV must contain a header\
        \ row. Additional fields can be included with a named header row and can be\
        \ merged with the template using {merge} tags in the content.\n          \
        \  \n             Example CSV:\n            \n             email, firstname,\
        \ lastname\n             test1@gmail.com, michael, smith\n             test2@gmail.com,\
        \ janet, smith\n            \n             Merge file must not be empty. Required\
        \ Access Level: SendHttp"
      operationId: emailsMergefilePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeEmailPayload'
        description: Email data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSend'
          description: OK
      summary: Send Bulk Emails CSV
      tags:
      - Emails
  /emails/transactional:
    post:
      description: "Send transactional emails (recipients will be known to each other).\
        \ Required Access Level: SendHttp"
      operationId: emailsTransactionalPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTransactionalMessageData'
        description: Email data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSend'
          description: OK
      summary: Send Transactional Email
      tags:
      - Emails
  /events:
    get:
      description: "Returns a log of delivery events filtered by specified parameters.\
        \ Required Access Level: ViewReports"
      operationId: eventsGet
      parameters:
      - description: Types of Events to return
        explode: true
        in: query
        name: eventTypes
        required: false
        schema:
          description: array
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: form
      - description: Starting date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Ending date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/EventsOrderBy'
        style: form
      - description: How many items to load. Maximum for this request is 1000 items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecipientEvent'
                type: array
          description: OK
      summary: Load Events
      tags:
      - Events
  /events/{transactionid}:
    get:
      description: "Returns a log of delivery events for the specific transaction\
        \ ID. Required Access Level: ViewReports"
      operationId: eventsByTransactionidGet
      parameters:
      - description: ID number of transaction
        explode: false
        in: path
        name: transactionid
        required: true
        schema:
          description: string
          example: TransactionID
          format: string
          type: string
        style: simple
      - description: Starting date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Ending date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/EventsOrderBy'
        style: form
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecipientEvent'
                type: array
          description: OK
      summary: Load Email Events
      tags:
      - Events
  /events/channels/{name}:
    get:
      description: "Returns a log of delivery events filtered by specified parameters.\
        \ Required Access Level: ViewReports"
      operationId: eventsChannelsByNameGet
      parameters:
      - description: Name of selected channel.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: Channel01
          format: string
          type: string
        style: simple
      - description: Types of Events to return
        explode: true
        in: query
        name: eventTypes
        required: false
        schema:
          description: array
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: form
      - description: Starting date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Ending date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          $ref: '#/components/schemas/EventsOrderBy'
        style: form
      - description: How many items to load. Maximum for this request is 1000 items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecipientEvent'
                type: array
          description: OK
      summary: Load Channel Events
      tags:
      - Events
  /events/channels/{name}/export:
    post:
      description: "Export delivery events log information to the specified file format.\
        \ Required Access Level: Export"
      operationId: eventsChannelsByNameExportPost
      parameters:
      - description: Name of selected channel.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: Channel01
          format: string
          type: string
        style: simple
      - description: Types of Events to return
        explode: true
        in: query
        name: eventTypes
        required: false
        schema:
          description: array
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: form
      - description: Starting date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Ending date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Format of the exported file
        explode: true
        in: query
        name: fileFormat
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFormats'
        style: form
      - description: FileResponse compression format. None or Zip.
        explode: true
        in: query
        name: compressionFormat
        required: false
        schema:
          $ref: '#/components/schemas/CompressionFormat'
        style: form
      - description: Name of your file including extension.
        explode: true
        in: query
        name: fileName
        required: false
        schema:
          description: string
          example: filename.txt
          format: string
          type: string
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportLink'
          description: Accepted
      summary: Export Channel Events
      tags:
      - Events
  /events/channels/export/{id}/status:
    get:
      description: "Check the current status of the channel export. Required Access\
        \ Level: Export"
      operationId: eventsChannelsExportByIdStatusGet
      parameters:
      - description: ID of the exported file
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          example: E33EBA7A-C20D-4D3D-8F2F-5EEF42F58E6F
          format: guid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportStatus'
          description: OK
      summary: Check Channel Export Status
      tags:
      - Events
  /events/export:
    post:
      description: "Export delivery events log information to the specified file format.\
        \ Required Access Level: Export"
      operationId: eventsExportPost
      parameters:
      - description: Types of Events to return
        explode: true
        in: query
        name: eventTypes
        required: false
        schema:
          description: array
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: form
      - description: Starting date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Ending date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Format of the exported file
        explode: true
        in: query
        name: fileFormat
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFormats'
        style: form
      - description: FileResponse compression format. None or Zip.
        explode: true
        in: query
        name: compressionFormat
        required: false
        schema:
          $ref: '#/components/schemas/CompressionFormat'
        style: form
      - description: Name of your file including extension.
        explode: true
        in: query
        name: fileName
        required: false
        schema:
          description: string
          example: filename.txt
          format: string
          type: string
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportLink'
          description: Accepted
      summary: Export Events
      tags:
      - Events
  /events/export/{id}/status:
    get:
      description: "Check the current status of the export. Required Access Level:\
        \ Export"
      operationId: eventsExportByIdStatusGet
      parameters:
      - description: ID of the exported file
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          example: E33EBA7A-C20D-4D3D-8F2F-5EEF42F58E6F
          format: guid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportStatus'
          description: OK
      summary: Check Export Status
      tags:
      - Events
  /files:
    get:
      description: "Returns a list of all your available files. Required Access Level:\
        \ ViewFiles"
      operationId: filesGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FileInfo'
                type: array
          description: OK
      summary: List Files
      tags:
      - Files
    post:
      description: "Uploads selected file to the server. Required Access Level: ModifyFiles"
      operationId: filesPost
      parameters:
      - description: After how many days should the file be deleted.
        explode: true
        in: query
        name: expiresAfterDays
        required: false
        schema:
          description: integer
          format: int32
          nullable: true
          type: integer
          example: null
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
          description: Created
      summary: Upload File
      tags:
      - Files
  /files/{name}:
    delete:
      description: "Permanently deletes the file from your Account. Required Access\
        \ Level: ModifyFiles"
      operationId: filesByNameDelete
      parameters:
      - description: Name of your file including extension.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: filename.txt
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete File
      tags:
      - Files
    get:
      description: "Gets content of the specified File. Required Access Level: ViewFiles"
      operationId: filesByNameGet
      parameters:
      - description: Name of your file including extension.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: filename.txt
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/*:
              schema:
                format: binary
                type: string
          description: OK
      summary: Download File
      tags:
      - Files
  /files/{name}/info:
    get:
      description: "Returns the specified File's details. Required Access Level: ViewFiles"
      operationId: filesByNameInfoGet
      parameters:
      - description: Name of your file including extension.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: filename.txt
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
          description: OK
      summary: Load File Details
      tags:
      - Files
  /inboundroute:
    get:
      description: "Get all your Inbound Routes. Required Access Level: ViewSettings"
      operationId: inboundrouteGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InboundRoute'
                type: array
          description: OK
      summary: Get Routes
      tags:
      - InboundRoute
    post:
      description: "Create new Inbound Route. Required Access Level: ModifySettings"
      operationId: inboundroutePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundRoute'
          description: OK
      summary: Create Route
      tags:
      - InboundRoute
  /inboundroute/{id}:
    delete:
      description: "Deletes the Inbound Route. Required Access Level: ModifySettings"
      operationId: inboundrouteByIdDelete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          format: guid
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Route
      tags:
      - InboundRoute
    get:
      description: "Load an Inbound Route. Required Access Level: ViewSettings"
      operationId: inboundrouteByIdGet
      parameters:
      - description: ID number of your attachment
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          example: "123456"
          format: guid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundRoute'
          description: OK
      summary: Get Route
      tags:
      - InboundRoute
    put:
      description: "Update the Inbound Route. Required Access Level: ModifySettings"
      operationId: inboundrouteByIdPut
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          format: guid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundRoute'
          description: OK
      summary: Update Route
      tags:
      - InboundRoute
  /inboundroute/order:
    put:
      description: "Required Access Level: ViewSettings"
      operationId: inboundrouteOrderPut
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SortOrderItem'
              type: array
        description: Change the ordering of inbound routes for when matching the inbound
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InboundRoute'
                type: array
          description: OK
      summary: Update Sorting
      tags:
      - InboundRoute
  /lists:
    get:
      description: "Returns all your existing lists. Required Access Level: ViewContacts"
      operationId: listsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactsList'
                type: array
          description: OK
      summary: Load Lists
      tags:
      - Lists
    post:
      description: "Add a new list. Required Access Level: ModifyContacts"
      operationId: listsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsList'
          description: Created
      summary: Add List
      tags:
      - Lists
  /lists/{listname}/contacts:
    get:
      description: "Returns a list of contacts. Required Access Level: ViewContacts"
      operationId: listsByListnameContactsGet
      parameters:
      - description: Name of your list.
        explode: false
        in: path
        name: listname
        required: true
        schema:
          description: string
          example: My List 1
          format: string
          type: string
        style: simple
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
          description: OK
      summary: Load Contacts in List
      tags:
      - Lists
  /lists/{name}:
    delete:
      description: "Deletes List and removes all the Contacts from it (does not delete\
        \ Contacts). Required Access Level: ModifyContacts"
      operationId: listsByNameDelete
      parameters:
      - description: Name of your list.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My List 1
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete List
      tags:
      - Lists
    get:
      description: "Returns detailed information about specified list. Required Access\
        \ Level: ViewContacts"
      operationId: listsByNameGet
      parameters:
      - description: Name of your list.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My List 1
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsList'
          description: OK
      summary: Load List
      tags:
      - Lists
    put:
      description: "Update existing list. Required Access Level: ModifyContacts"
      operationId: listsByNamePut
      parameters:
      - description: Name of your list.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My List 1
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUpdatePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsList'
          description: OK
      summary: Update List
      tags:
      - Lists
  /lists/{name}/contacts:
    post:
      description: "Add existing Contacts to specified list. Required Access Level:\
        \ ModifyContacts"
      operationId: listsByNameContactsPost
      parameters:
      - description: Name of your list.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My List 1
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailsPayload'
        description: "Provide either rule or a list of emails, not both."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsList'
          description: OK
      summary: Add Contacts to List
      tags:
      - Lists
  /lists/{name}/contacts/remove:
    post:
      description: "Remove specified Contacts from your list. Required Access Level:\
        \ ModifyContacts"
      operationId: listsByNameContactsRemovePost
      parameters:
      - description: Name of your list.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My List 1
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailsPayload'
        description: "Provide either rule or a list of emails, not both."
        required: true
      responses:
        "200":
          description: OK
      summary: Remove Contacts from List
      tags:
      - Lists
  /security/apikeys:
    get:
      description: "List all your existing ApiKeys. Required Access Level: Security"
      operationId: securityApikeysGet
      parameters:
      - description: Email of the subaccount of which ApiKeys should be loaded
        explode: true
        in: query
        name: subaccount
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: OK
      summary: List ApiKeys
      tags:
      - Security
    post:
      description: "Add a new ApiKey. Required Access Level: Security"
      operationId: securityApikeysPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewApiKey'
          description: Created
      summary: Add ApiKey
      tags:
      - Security
  /security/apikeys/{name}:
    delete:
      description: "Delete your existing ApiKey. Required Access Level: Security"
      operationId: securityApikeysByNameDelete
      parameters:
      - description: Name of the ApiKey
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      - description: Email of the subaccount of which ApiKey should be deleted
        explode: true
        in: query
        name: subaccount
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Delete ApiKey
      tags:
      - Security
    get:
      description: "Load your existing ApiKey info. Required Access Level: Security"
      operationId: securityApikeysByNameGet
      parameters:
      - description: Name of the ApiKey
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      - description: Email of the subaccount of which ApiKey should be loaded
        explode: true
        in: query
        name: subaccount
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: OK
      summary: Load ApiKey
      tags:
      - Security
    put:
      description: "Update your existing ApiKey. Required Access Level: Security"
      operationId: securityApikeysByNamePut
      parameters:
      - description: Name of the ApiKey
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: OK
      summary: Update ApiKey
      tags:
      - Security
  /security/smtp:
    get:
      description: "List all your existing SMTP Credentials. Required Access Level:\
        \ Security"
      operationId: securitySmtpGet
      parameters:
      - description: Email of the subaccount of which credentials should be listed
        explode: true
        in: query
        name: subaccount
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SmtpCredentials'
                type: array
          description: OK
      summary: List SMTP Credentials
      tags:
      - Security
    post:
      description: "Add new SMTP Credential. Required Access Level: Security"
      operationId: securitySmtpPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmtpCredentialsPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewSmtpCredentials'
          description: Created
      summary: Add SMTP Credential
      tags:
      - Security
  /security/smtp/{name}:
    delete:
      description: "Delete your existing SMTP Credentials. Required Access Level:\
        \ Security"
      operationId: securitySmtpByNameDelete
      parameters:
      - description: Name of the SMTP Credential
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      - description: Email of the subaccount of which credential should be deleted
        explode: true
        in: query
        name: subaccount
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Delete SMTP Credential
      tags:
      - Security
    get:
      description: "Load your existing SMTP Credential info. Required Access Level:\
        \ Security"
      operationId: securitySmtpByNameGet
      parameters:
      - description: Name of the SMTP Credential
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      - description: Email of the subaccount of which credential should be loaded
        explode: true
        in: query
        name: subaccount
        required: false
        schema:
          description: string
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpCredentials'
          description: OK
      summary: Load SMTP Credential
      tags:
      - Security
    put:
      description: "Update your existing SMTP Credentials. Required Access Level:\
        \ Security"
      operationId: securitySmtpByNamePut
      parameters:
      - description: Name of the SMTP Credential
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmtpCredentialsPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmtpCredentials'
          description: OK
      summary: Update SMTP Credential
      tags:
      - Security
  /segments:
    get:
      description: "Returns a list of all your available Segments. Required Access\
        \ Level: ViewContacts"
      operationId: segmentsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Segment'
                type: array
          description: OK
      summary: Load Segments
      tags:
      - Segments
    post:
      description: "Add a new segment, based on specified RULE. Required Access Level:\
        \ ModifyContacts"
      operationId: segmentsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: Created
      summary: Add Segment
      tags:
      - Segments
  /segments/{name}:
    delete:
      description: "Delete an existing segment. Required Access Level: ModifyContacts"
      operationId: segmentsByNameDelete
      parameters:
      - description: Name of your segment.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My Segment 1
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Segment
      tags:
      - Segments
    get:
      description: "Returns details for the specified segment. Required Access Level:\
        \ ViewContacts"
      operationId: segmentsByNameGet
      parameters:
      - description: Name of the segment you want to load. Will load all contacts
          if the 'All Contacts' name has been provided
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: OK
      summary: Load Segment
      tags:
      - Segments
    put:
      description: "Rename or change RULE for your segment. Required Access Level:\
        \ ModifyContacts"
      operationId: segmentsByNamePut
      parameters:
      - description: Name of your segment.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: My Segment 1
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: OK
      summary: Update Segment
      tags:
      - Segments
  /statistics:
    get:
      description: "Returns basic statistics. Required Access Level: ViewReports"
      operationId: statisticsGet
      parameters:
      - description: Starting date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: from
        required: true
        schema:
          description: string
          format: date-time
          type: string
        style: form
      - description: Ending date for search in YYYY-MM-DDThh:mm:ss format.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: string
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStatusSummary'
          description: OK
      summary: Load Statistics
      tags:
      - Statistics
  /statistics/campaigns:
    get:
      description: "Returns a list of your Campaigns' stats. Required Access Level:\
        \ ViewChannels"
      operationId: statisticsCampaignsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChannelLogStatusSummary'
                type: array
          description: OK
      summary: Load Campaigns Stats
      tags:
      - Statistics
  /statistics/campaigns/{name}:
    get:
      description: "Retrieve stats of an existing campaign. Required Access Level:\
        \ ViewChannels"
      operationId: statisticsCampaignsByNameGet
      parameters:
      - description: The name of the campaign to get.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelLogStatusSummary'
          description: OK
      summary: Load Campaign Stats
      tags:
      - Statistics
  /statistics/channels:
    get:
      description: "Returns a list of your Channels' stats. Required Access Level:\
        \ ViewChannels"
      operationId: statisticsChannelsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChannelLogStatusSummary'
                type: array
          description: OK
      summary: Load Channels Stats
      tags:
      - Statistics
  /statistics/channels/{name}:
    get:
      description: "Retrieve an existing channel stats. Required Access Level: ViewChannels"
      operationId: statisticsChannelsByNameGet
      parameters:
      - description: The name of the channel to get.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelLogStatusSummary'
          description: OK
      summary: Load Channel Stats
      tags:
      - Statistics
  /subaccounts:
    get:
      description: "Returns a list of all your SubAccounts. Required Access Level:\
        \ ViewSubAccounts"
      operationId: subaccountsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SubAccountInfo'
                type: array
          description: OK
      summary: Load SubAccounts
      tags:
      - SubAccounts
    post:
      description: "Add a new SubAccount to your Account. To receive an access token\
        \ for this SubAccount, make a POST security/apikeys request using the 'subaccount'\
        \ parameter. Required Access Level: ModifySubAccounts"
      operationId: subaccountsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountInfo'
          description: Created
      summary: Add SubAccount
      tags:
      - SubAccounts
  /subaccounts/{email}:
    delete:
      description: "Deletes specified SubAccount. An email will be sent to confirm\
        \ this change. Required Access Level: ModifySubAccounts"
      operationId: subaccountsByEmailDelete
      parameters:
      - description: Email address of Sub-Account
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete SubAccount
      tags:
      - SubAccounts
    get:
      description: "Returns details for the specified SubAccount. Required Access\
        \ Level: ViewSubAccounts"
      operationId: subaccountsByEmailGet
      parameters:
      - description: Email address of Sub-Account
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountInfo'
          description: OK
      summary: Load SubAccount
      tags:
      - SubAccounts
  /subaccounts/{email}/credits:
    patch:
      description: "Update email credits of a subaccount by the given amount. Required\
        \ Access Level: ModifySubAccounts"
      operationId: subaccountsByEmailCreditsPatch
      parameters:
      - description: Email address of Sub-Account
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountEmailCreditsPayload'
        description: Amount of email credits to add or subtract from the current SubAccount
          email credits pool (positive or negative value)
        required: true
      responses:
        "200":
          description: OK
      summary: "Add, Subtract Email Credits"
      tags:
      - SubAccounts
  /subaccounts/{email}/settings/email:
    put:
      description: "Update SubAccount email settings. Required Access Level: ModifySubAccounts"
      operationId: subaccountsByEmailSettingsEmailPut
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountEmailSettings'
        description: Updated Email Settings
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountEmailSettings'
          description: Created
      summary: Update SubAccount Email Settings
      tags:
      - SubAccounts
  /suppressions:
    get:
      description: "Retrieve your suppressions. Required Access Level: ViewContacts,\
        \ ViewSuppressions"
      operationId: suppressionsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: OK
      summary: Get Suppressions
      tags:
      - Suppressions
  /suppressions/{email}:
    delete:
      description: "Delete Suppression. Required Access Level: ViewContacts, ViewSuppressions"
      operationId: suppressionsByEmailDelete
      parameters:
      - description: Proper email address.
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Suppression
      tags:
      - Suppressions
    get:
      description: "Retrieve your suppression. Required Access Level: ViewContacts,\
        \ ViewSuppressions"
      operationId: suppressionsByEmailGet
      parameters:
      - description: Proper email address.
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          example: mail@example.com
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
          description: OK
      summary: Get Suppression
      tags:
      - Suppressions
  /suppressions/bounces:
    get:
      description: "Retrieve your list of bounced emails. Required Access Level: ViewContacts,\
        \ ViewSuppressions"
      operationId: suppressionsBouncesGet
      parameters:
      - description: Text fragment used for searching.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: string
          example: text
          format: string
          type: string
        style: form
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: OK
      summary: Get Bounce List
      tags:
      - Suppressions
    post:
      description: "Add Bounced. Required Access Level: ModifyContacts, ModifySuppressions"
      operationId: suppressionsBouncesPost
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: string
                type: string
              type: array
        description: Emails to add as bounces. Limited to 1000 per request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: Created
      summary: Add Bounces
      tags:
      - Suppressions
  /suppressions/bounces/import:
    post:
      description: "Add Bounced. Required Access Level: ModifyContacts, ModifySuppressions"
      operationId: suppressionsBouncesImportPost
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/contactsImportPost_request'
        description: Emails to add as bounces.
        required: true
      responses:
        "202":
          description: Accepted
      summary: Add Bounces Async
      tags:
      - Suppressions
  /suppressions/complaints:
    get:
      description: "Retrieve your list of complaints. Required Access Level: ViewContacts,\
        \ ViewSuppressions"
      operationId: suppressionsComplaintsGet
      parameters:
      - description: Text fragment used for searching.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: string
          example: text
          format: string
          type: string
        style: form
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: OK
      summary: Get Complaints List
      tags:
      - Suppressions
    post:
      description: "Add Complaints. Required Access Level: ModifyContacts, ModifySuppressions"
      operationId: suppressionsComplaintsPost
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: string
                type: string
              type: array
        description: Emails to add as complaints. Limited to 1000 per request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: Created
      summary: Add Complaints
      tags:
      - Suppressions
  /suppressions/complaints/import:
    post:
      description: "Add Complaints. Required Access Level: ModifyContacts, ModifySuppressions"
      operationId: suppressionsComplaintsImportPost
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/contactsImportPost_request'
        description: Emails to add as complaints.
        required: true
      responses:
        "202":
          description: Accepted
      summary: Add Complaints Async
      tags:
      - Suppressions
  /suppressions/unsubscribes:
    get:
      description: "Retrieve your list of unsubscribes. Required Access Level: ViewContacts,\
        \ ViewSuppressions"
      operationId: suppressionsUnsubscribesGet
      parameters:
      - description: Text fragment used for searching.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: string
          example: text
          format: string
          type: string
        style: form
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: OK
      summary: Get Unsubscribes List
      tags:
      - Suppressions
    post:
      description: "Add Unsubscribes. Required Access Level: ModifyContacts, ModifySuppressions"
      operationId: suppressionsUnsubscribesPost
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: string
                type: string
              type: array
        description: Emails to add as unsubscribes. Limited to 1000 per request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Suppression'
                type: array
          description: Created
      summary: Add Unsubscribes
      tags:
      - Suppressions
  /suppressions/unsubscribes/import:
    post:
      description: "Add Unsubscribes. Required Access Level: ModifyContacts, ModifySuppressions"
      operationId: suppressionsUnsubscribesImportPost
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/contactsImportPost_request'
        description: Emails to add as unsubscribes.
        required: true
      responses:
        "202":
          description: Accepted
      summary: Add Unsubscribes Async
      tags:
      - Suppressions
  /templates:
    get:
      description: "Returns a list of templates for the specified type. Required Access\
        \ Level: ViewTemplates"
      operationId: templatesGet
      parameters:
      - description: Return templates with specified scope only
        explode: true
        in: query
        name: scopeType
        required: true
        schema:
          description: array
          items:
            $ref: '#/components/schemas/TemplateScope'
          type: array
        style: form
      - description: Return templates with specified type only
        explode: true
        in: query
        name: templateTypes
        required: false
        schema:
          description: array
          items:
            $ref: '#/components/schemas/TemplateType'
          type: array
        style: form
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Template'
                type: array
          description: OK
      summary: Load Templates
      tags:
      - Templates
    post:
      description: "Add a new Template. Required Access Level: ModifyTemplates"
      operationId: templatesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Template
      summary: Add Template
      tags:
      - Templates
  /templates/{name}:
    delete:
      description: "Delete template with the specified name. Required Access Level:\
        \ ModifyTemplates"
      operationId: templatesByNameDelete
      parameters:
      - description: Name of template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: Template01
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Template
      tags:
      - Templates
    get:
      description: "Load detailed information of the specified template. Required\
        \ Access Level: ViewTemplates"
      operationId: templatesByNameGet
      parameters:
      - description: Name of template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: Template01
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Serialized template
      summary: Load Template
      tags:
      - Templates
    put:
      description: "Update existing template, overwriting existing data. Required\
        \ Access Level: ModifyTemplates"
      operationId: templatesByNamePut
      parameters:
      - description: Name of template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: string
          example: Template01
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: OK
      summary: Update Template
      tags:
      - Templates
  /verifications:
    get:
      description: "Returns a results of all verified single emails. Required Access\
        \ Level: VerifyEmails"
      operationId: verificationsGet
      parameters:
      - description: Maximum number of returned items.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          example: 100
          format: int32
          type: integer
        style: form
      - description: How many items should be returned ahead.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          example: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EmailValidationResult'
                type: array
          description: OK
      summary: Get Emails Verification Results
      tags:
      - Verifications
  /verifications/{email}:
    delete:
      description: "Delete a result with given email if exists. Required Access Level:\
        \ VerifyEmails"
      operationId: verificationsByEmailDelete
      parameters:
      - description: Email address to verification
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Email Verification Result
      tags:
      - Verifications
    get:
      description: "Returns a result of verified email. Required Access Level: VerifyEmails"
      operationId: verificationsByEmailGet
      parameters:
      - description: Email address to view verification result of
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailValidationResult'
          description: OK
      summary: Get Email Verification Result
      tags:
      - Verifications
    post:
      description: "Verify single email address and returns result of verification.\
        \ Required Access Level: VerifyEmails"
      operationId: verificationsByEmailPost
      parameters:
      - description: Email address to verify
        explode: false
        in: path
        name: email
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailValidationResult'
          description: OK
      summary: Verify Email
      tags:
      - Verifications
  /verifications/files:
    post:
      description: "Uploads a CSV file with list of emails that can then be triggered\
        \ for verification. An 'email' column is required. Required Access Level:\
        \ VerifyEmails"
      operationId: verificationsFilesPost
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/contactsImportPost_request'
        description: Uploaded file
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationFileResult'
          description: OK
      summary: Upload File with Emails
      tags:
      - Verifications
  /verifications/files/{id}:
    delete:
      description: "Delete Verification Results if they exist. Required Access Level:\
        \ VerifyEmails"
      operationId: verificationsFilesByIdDelete
      parameters:
      - description: ID of the exported file
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          example: E33EBA7A-C20D-4D3D-8F2F-5EEF42F58E6F
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete File Verification Result
      tags:
      - Verifications
  /verifications/files/{id}/result:
    get:
      description: "Returns status and results (if verified) of file with given ID.\
        \ Required Access Level: VerifyEmails"
      operationId: verificationsFilesByIdResultGet
      parameters:
      - description: ID of the Verification to display status of
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      - description: Maximum number of returned email verification results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: integer
          format: int32
          type: integer
        style: form
      - description: How many result items should be returned ahead
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: integer
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationFileResultDetails'
          description: OK
      summary: Get Detailed File Verification Result
      tags:
      - Verifications
  /verifications/files/{id}/result/download:
    get:
      description: "Download verification results as a ZIP file. Required Access Level:\
        \ VerifyEmails"
      operationId: verificationsFilesByIdResultDownloadGet
      parameters:
      - description: Verification ID to download
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/*:
              schema:
                format: binary
                type: string
          description: A ZIP file with verification details
      summary: Download File Verification Result
      tags:
      - Verifications
  /verifications/files/{id}/verification:
    post:
      description: "Start a verification of the previously uploaded file with emails.\
        \ Required Access Level: VerifyEmails"
      operationId: verificationsFilesByIdVerificationPost
      parameters:
      - description: File ID to start verification
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: string
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: OK
      summary: Start verification
      tags:
      - Verifications
  /verifications/files/result:
    get:
      description: "Returns a list of uploaded files, their statuses and results.\
        \ Required Access Level: VerifyEmails"
      operationId: verificationsFilesResultGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VerificationFileResult'
                type: array
          description: OK
      summary: Get Files Verification Results
      tags:
      - Verifications
components:
  schemas:
    AccessLevel:
      default: None
      enum:
      - None
      - ViewAccount
      - ViewContacts
      - ViewForms
      - ViewTemplates
      - ViewCampaigns
      - ViewChannels
      - ViewAutomations
      - ViewSurveys
      - ViewSettings
      - ViewBilling
      - ViewSubAccounts
      - ViewUsers
      - ViewFiles
      - ViewReports
      - ModifyAccount
      - ModifyContacts
      - ModifyForms
      - ModifyTemplates
[...]
